/* .about-us {
    background-color: #e6f2ff;
    padding: 2rem;
  } */

  .about-h2 {
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: underline;
    text-align: left;
    margin-left: 50px;
    color:black;
    padding:5px;
  }

  .about-container {
  flex-direction:column;
  }

  .about-content {
    color: #333;
    line-height: 2rem;
    width: 90%;
    font-size: 1.6rem;
    margin-bottom: 2em;
    text-align:center;
  }
  .about-side-card {
    margin: 20px auto;
  }
  .about-side-card .about-img {
    width: 90%;
  }


  @media (min-width: 768px) {
    .about-container {
      display: flex;
      width: 90%;
      margin:40px 20px;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;


    }

    .about-content {
      width: 40%;
      line-height: 1.5em;
    }

    .about-side-card {
      width: 40%;
    }
    .about-side-card .about-img {
      width: 80%;
      border-top-right-radius:30px;
      border-bottom-right-radius:30px;
    }
  }
