/* src/Hero.css */
.hero-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
    margin-top:70px;
  }

  .hero-text {
    text-align: center;
    margin-bottom: 30px;
  }

  .hero-text h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333; /* Dark gray for the title */
  }

  .hero-text p {
    font-size: 1.2rem;
    color: #1d4ed8; /* Blue for the paragraph */
    margin-bottom: 20px;
    line-height:1.5em;
  }

  .hero-image .hero-img {
    width: 100%;
    max-width: 500px;
    height: 400px;
  }

   /* styling second section */

  .hero-form {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 500px;
  }

  .hero-form .location-link {
    font-size: 1.2rem;
    color: #1d4ed8; /* Blue for the text */
    margin: 20px auto;
    text-decoration: none;
    padding: 10px;
    text-align:center;
  }

  .form-row {
    display: flex;
    justify-content: space-between;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 48%;
  }

  .form-group label {
    margin-bottom: 8px;
    font-weight: 600;
  }

  .form-group input {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1rem;
  }
  .hero-button{
    background-color: #1d4ed8;
    color: white;

    border: none;
    border-radius: 50px;
    cursor: pointer;


  }
  .hero-button2{
    padding: 10px 30px;
    font-size: 1.5rem;
  }
  .hero-button1 {
    display: block;
    margin: 2px  auto;
    padding: 10px 25px;
    font-size: 1.3rem;
  }

  .hero-button:hover {
    background-color: #1e40af;
  }

  /* Hero image */
  .hero-image .hero-img {
    width: 100%;
    max-width: 700px;
    height: 400px;
    margin-left: 20px;
  }

  @media (min-width: 768px) {
    .hero-container {
      flex-direction: row;
      align-items: center;
      padding: 50px;
      overflow-x: hidden;
      margin-left: 120px;
    }

    .hero-form {
      text-align: left;
      width: 50%;
    }


    .hero-image .hero-img {
      max-width: 600px;
    }

    .hero-text {
      text-align: left;
      width: 50%;
      margin-bottom: 0;
    }

    .hero-text h1 {
      font-size: 3rem;
    }

    .hero-text p {
      font-size: 1.5rem;
    }
    .hero-form .location-link{
      text-align:center;
    }

  }


